@{
    ViewBag.Title = "Integrated System Used Equipment";
    ViewBag.dashboard = "Approve Reject";
    ViewBag.dashboardSmall = "";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.pathParent = Url.Content("~").Substring(0, Url.Content("~").Length - 1);
}
<input type="hidden" id="urlPath" name="urlPath" value="@ViewBag.pathParent" />

<div class="panel panel-flat" style="margin-top:10px">
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-12">
                <div id="grid"></div>
            </div>
        </div><br />
        <div class="col-md-12" style="height:30px;">
        </div>
    </div>
</div>
<div class="col-md-12" id="wnd_approve_reject" style="display:none">
    <div class="panel panel-info">
        <div class="panel-heading" style="font-size:15px; text-align:left; font-family:Helvetica;">Approve Reject</div>
        <div class="panel-body clearfix">
            <div class="form-group">
                <br>
                <label class="control-label col-md-12" style="width:80px;">Site:</label>
                <div class="col-md-3">
                    <input type="text" id="txt_site" style="width: 100%; height:50%; background-color: #ececec" class="form-control" disabled/>
                </div>
                <div class="col-md-1"></div>
                <label class="control-label col-md-12" style="width:80px;">Model:</label>
                <div class="col-md-3">
                    <input type="text" id="txt_model" style="width: 100%; height:50%; background-color: #ececec" class="form-control" disabled/>
                </div>
            </div><br>
            <div class="form-group">
                <br>
                <label class="control-label col-md-12" style="width:80px;">CN:</label>
                <div class="col-md-3">
                    <input type="text" id="txt_cn" style="width: 100%; height:50%; background-color: #ececec" class="form-control" disabled />
                </div>
                <div class="col-md-1"></div>
                <label class="control-label col-md-12" style="width:80px;">Status:</label>
                <div class="col-md-3">
                    <input type="text" id="dd_status" style="width: 100%; height:50%" class="form-control" />
                </div>
            </div>

            <div class="col-md-12" style="height:30px;">

            </div>
            <div style="text-align:left; padding-left:30px">
                <button id="btn_save" class="btn btn-primary save" onclick="save()">Save <span class="glyphicon glyphicon-save"></span></button>
                <button id="btn_cancel" class="btn btn-secondary cancel" onclick="cancel()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
            </div><br />
        </div>
    </div>
</div>
<script type="text/javascript" src="@ViewBag.pathParent/Js/ApproveReject.js"></script>


